# Nuxt dev/build outputs
src/.output
src/.data
src/.nuxt
src/.nitro
src/.cache
src/dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
src/.env
src/.env.*
!src/.env.example


# GraphQL
graphql.config.yml
schema.graphql
