@import "./reset";
@import "./mixins";
@import "./fonts";
@import "./cssVariables";
@import "./uiComponents";

* {
  box-sizing: border-box;
  outline: none;
}

body {
  background: var(--background-color);
  color: var(--color);
  margin: 0;
  overflow-x: hidden;
  position: relative;
  font-family: 'Open Sans', sans-serif, Arial;
  font-size: 14px;
  min-height: 95vh;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

a {
  text-decoration: none;
}

input {
  &::-ms-clear {
    display: none;
  }

  &::-webkit-clear-button {
    display: none;
  }
}
